
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    padding: 24px 0;
}

.head-div {
    display: flex;
    justify-content: space-between;
}

.nav-site {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo:first-child {
    margin-right: 76px;
}

.dark-logo {
    color: #2e2f42;
}

.list-nav {
    font-weight: 500;
    color: #2e2f42;
    display: flex;
    gap: 40px;
}

.link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 24px 0;
    color: #2e2f42;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.contact {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration-style: none;
}

.list-address {
    display: flex;
    gap: 40px;
}

.link-address {
    color: #434455;
}

.link-address:hover,
.link-address:focus {
    color: #404bbf;
}

.main-one {
    background-color: #2e2f42;
    padding: 188px 0;
}

.first-round {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 48px;
}

button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}

button:hover,
button:focus {
    background-color: #404BBF;
    cursor: pointer
}

.main-two {
    padding: 120px 0;
}

.second-round {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-list {
    display: flex;
    gap: 24px;
}

.second-list-container {
    width: calc((100% - 72px) /4);
}

.second-nav {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
}

.second-text {
    font-size: 16px;
    line-height: 1.5;
}

.main-three {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.third-round {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list-container {
    display: flex;
    gap: 24px;
}

.team-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) /4);
}

.team-nav-container {
    padding: 32px 0;
}

.team-nav {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
}

.team-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.main-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.fourth-round {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.fourth-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.fourth-round-list {
    width: calc((100% - 48px) /3);
}

.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-nav {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-end {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.foot {
    line-height: 24px;
    color: #F4F4FD;
    max-width: 264px;
    height: 72px;
}